root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{py}]
indent_style = tab
indent_size = 4
tab_width = 4

[*.{c,h}]
indent_style = space
indent_size = 1
tab_width = 1
max_line_length = off
